* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/*main body - App.js*/
.main-body {
  width: 100%;
  height: 100vh;
}

/*container for our card -PreviewCard.js*/
.card-container {
  width: 40%;
  height: 65%;
  overflow: hidden;
  border-radius: 10px;
}

/*elements inside the container*/
.hero-image {
  background-image: url(./Images/image-product-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-image,
.card-description {
  width: 50%;
}
h2 {
  letter-spacing: 5px;
}

h2,
p {
  font-size: 13px;
  color: var(--dark-grayish-blue);
}
.price {
  margin-left: 5px;
  color: var(--dark-cyan);
}
.title {
  line-height: 40px;
}
.title,
.price {
  font-family: "Fraunces", serif;
  font-size: 35px;
}
.cart-button {
  border-radius: 10px;
  height: 60px;
  color: white;
  background-color: var(--dark-cyan);
  transition: all 300ms ease-in-out;
}
.cart-button:hover {
  background-color: var(--very-dark-cyan);
  transition: all 300ms ease-in-out;
}
/*media queries - mobile design*/
@media only screen and (max-width: 540px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    width: 95%;
  }
  .hero-image {
    background-image: url(./Images/image-product-mobile.jpg);
    height: 40%;
    width: 100%;
  }
  .card-description {
    height: 60%;
    width: 100%;
    padding: 10px 20px 20px 20px;
  }
  h2 {
    letter-spacing: 5px;
    margin: 10px 0 10px 3px;
  }
  p {
    letter-spacing: 1px;
  }
  h2,
  p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .price {
    margin-left: 5px;

    color: var(--dark-cyan);
  }
  .title {
    margin-bottom: 10px;
  }
  .title,
  .price {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .cart-icon {
    height: 15px;
  }
  .cart-button {
    font-size: 13px;
    padding: 10px;
  }
}
